* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    


}

.main{
    margin: 40px;



}


/* ----------------------------------- */
/* Puedes usar flex o Grid para ordenar las imagenes */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px 0;
    
}
.parte_1{
    display: flex;
    justify-content: end;



}

.parte_2{
    display: grid;
    grid-row: auto;
    gap: 40px;
        

}

.container_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 40px 0;
    
    
    
}

.parte_3{
    display: grid;
    grid-row: auto;
    gap: 40px; 
    

}







.container_3{
    display: flex;
    justify-content: space-around; 
    



}
/* ------------------------------------ */

body {
    background-color: #001d3d;
    color: #f2f2f2;
    font-family: sans-serif;
    
    

}

footer {
    background-color: #547797;
    color: #030202;
    padding: 20px;
    
    
    
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 7wh;
    
    

}

.header__nav__list {
    display: flex;
    list-style: none;
    gap: 20px;
}
    
    


.header__nav__buttom {
    padding: .4em 2em;
    background-color: #0043fa00;
    border-radius: 20px;
    font-size: 1rem;
    color: #fcfcfc;
    
    
    



}

.header__nav__list li{
    font-size: 1rem;


}

.header__nav__logo img{
    object-fit: cover;
    height: 100%;


}

img{
    border-radius: 20px;




}

.jumbotrom{
    text-align: center;
    
    
    /* te */

}

.jumbotrom_titulo{
    font-size: 4em;
    
}

.jumbotrom_subtitulo{
    padding: 40px 0;
    font: 1em sans-serif;

}

h2{
    font-size: 2em;

}

p{
    font-size: 1em;
}
 

.jumbotrom_buttom{
    padding: .4em 2em;
    background-color: #fcfcfc;
    border-radius: 20px;
    font-size: 1rem;
    color: #030202;
    
}

 
.titulo_2, .parrafo_2{
    text-align: right;


}

.header {
    background-color: #0a3863;
    padding: 20px;
    
    

}

.texto_2{
    padding: 40px 0;

}










    


