* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    


}

.main{
    margin: 40px;



}


/* ----------------------------------- */
/* Puedes usar flex o Grid para ordenar las imagenes */
.container {
    display: flex;
}
.container img {
    object-fit: cover;
}
/* ------------------------------------ */

body {
    background-color: #001d3d;
    color: #f2f2f2;
    

}

footer {
    background-color: #547797;
    color: #030202;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 7wh;
    
    

}

.header__nav__list {
    display: flex;
    list-style: none;
    gap: 20px;
    
}

.header__nav__buttom {
    padding: .3em 1em;
    background-color: #fcfcfc;
    border-radius: 20px;
    font-size: 1rem;
    color: #030202;


}

.header__nav__list li{
    font-size: 1rem;


}

.header__nav__logo img{
    object-fit: cover;
    height: 100%;


}

img{
    border-radius: 5%;




}

.jumbotrom{
    text-align: center;
    /* te */

}

 

.jumbotrom_buttom{
    padding: .3em 1em;
    background-color: #fcfcfc;
    border-radius: 20px;
    font-size: 1rem;
    color: #030202;
}

 
.titulo_2, .parrafo_2{
    text-align: right;


}

.header {
    background-color: #0a3863;
    

}




    


